./radar.png filter=lfs diff=lfs merge=lfs -text
./data/departamentos-argentina.json filter=lfs diff=lfs merge=lfs -text
./fondo.gif filter=lfs diff=lfs merge=lfs -text
./fondo2.gif filter=lfs diff=lfs merge=lfs -text
